<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= devise_error_messages! %>
      <!--      Wizard container        -->
      <div class="wizard-container">
        <div class="card wizard-card ct-wizard-blue" id="wizardNewUser">
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
            <div class="wizard-header">
              <h3>
                 New User Registration <br>
                 <small>Register as a new user by filling in the following information.</small>
              </h3>
            </div>

            <ul>
              <li class="hidden" style="width: 49% !important"><a href="#user_type" data-toggle="tab">Choose Type</a></li>
              <li class="hidden"><a href="#sign_up_form" data-toggle="tab">Sign Up</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="user_type">
                <div class="row">
                  <h4 class="info-text">  </h4>
                  <div class='col-sm-3'>
                  </div>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <label style="font-size: 1.5rem;">I am making a deposit for someone else     </label>
                      <%= f.radio_button :is_patient, false, style: 'margin-left: 10px;' %>
                    </div>
                    <div class="form-group">
                      <label style="font-size: 1.5rem;">I am an account recipient    </label>
                       <%= f.radio_button :is_patient, true, style: 'margin-left: 20px;' %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="sign_up_form">
                <div class="row">
                  <h4 class="info-text"> Let's start with the basics</h4>
                  <div class="col-sm-3">
                  </div>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <label>Name <small></small></label>
                      <%= f.text_field :name, :autofocus => true, class: 'form-control', value: params[:name], :required => true %>
                    </div>
                    <div class="form-group">
                      <label>Email <small></small></label>
                      <%= f.email_field :email, class: 'form-control', value: params[:email], :required => true %>
                    </div>
                    <div class="form-group">
                      <label>Password<small></small></label>
                      <%= f.password_field :password, class: 'form-control', :required => true %>
                    </div>
                    <div class="form-group">
                      <label>Password Confirmation <small></small></label>
                      <%= f.password_field :password_confirmation, class: 'form-control', :required => true %>
                    </div>
                    <div class="form-group">
                      <label>Campaign Code <small>(If you received one)</small></label>
                      <%= f.text_field :campaign_code, class: 'form-control', value: params[:campaign_code] %>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="tab-pane" id="campaign">
                <h4 class="info-text"></h4>
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-8">

                  </div>
                  <div class="col-sm-2"></div>
                </div>
              </div> -->
            </div>
            <div class="wizard-footer">
              <div class="pull-right">
                <input type='button' class='btn btn-next btn-fill btn-warning btn-wd btn-sm' name='next' value='Next' />
                <%= hidden_field_tag :redirect_to, '/add_avatar' %>
                <%= f.submit 'Sign up', :class => 'btn btn-finish btn-fill btn-warning btn-wd btn-sm', name: 'finish' %>
              </div>
              <div class="pull-left">
                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='Previous' />
              </div>
              <div class="clearfix"></div>
            </div>
          <% end %>
        </div>
      </div> <!-- wizard container -->
      <br>
      <br>
    </div>
  </div>
</div>

<script>
$("form").on("keypress", function (e) {
    if (e.keyCode == 13) {
        return false;
    }
});
$(document).ready(function(){
  $(".wizard-card form").validate({
    rules: {
      "user[password]": {
        required: true,
        minlength: 8
      },
      "user[password_confirmation]": {
        required: true,
        minlength: 8,
        equalTo: "#user_password"
      }
    },
    messages: {

    }
  });
});
</script>
