<body class="shop-account">
<div class="offcanvas open">
  <div class="offcanvas-wrap">
    <div class="offcanvas-user clearfix">
      <% if @campaign %>
        <%= link_to campaign_stores_path(@campaign.id), class: "offcanvas-user-wishlist-link" do %>
          <i class="fa fa-heart-o"></i> My Store
        <% end %>
        <%= link_to destroy_user_session_path, :method => :delete, class: "offcanvas-user-account-link" do %>
          <i class="fa fa-user"></i> Logout
        <% end %>
      <% else %>
        <%= link_to '/' do %>
          Home
        <% end %>
      <% end %>
    </div>
    <nav class="offcanvas-navbar">
      <ul class="offcanvas-nav">
        <% if @campaign %>
          <% unless @campaign.private? %>
            <li class="menu-item-has-children dropdown">
              <%= link_to "My Campaign", campaign_path(@campaign) %>
            </li>
          <% end %>
          <li>
            <%= link_to "Orders", campaign_orders_path(@campaign) %>
          </li>
        <% else %>
          <li class="menu-item-has-children dropdown">
            <%= link_to "Home", '/' %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
<div id="wrapper" class="wide-wrap">
  <div class="offcanvas-overlay"></div>
  <header class="header-type-classic">
    <div class="navbar-container">
      <div class="navbar navbar-default  navbar-scroll-fixed">
        <div class="navbar-default-wrap">
          <div class="container">
            <div class="row">
              <div class="col-md-12 navbar-default-col">
                <div class="navbar-wrap">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar bar-top"></span>
                      <span class="icon-bar bar-middle"></span>
                      <span class="icon-bar bar-bottom"></span>
                    </button>
                    <% if @campaign %>
                      <%= link_to campaign_path(@campaign), class: "navbar-brand" do %>
                        <%= image_tag 'dmcs/wyoulogo.png', :class=>'logo logo-fixed logo-transparent' %>
                      <% end %>
                    <% end %>
                  </div>
                  <nav class="collapse navbar-collapse primary-navbar-collapse">
                    <ul class="nav navbar-nav primary-nav">
                      <% if @campaign %>
                        <li class="menu-item-has-children dropdown">
                          <%= link_to "My Campaign", campaign_path(@campaign) %>
                        </li>
                        <li>
                          <%= link_to "Orders", campaign_orders_path(@campaign) %>
                        </li>
                        <li>
                          <%= link_to campaign_stores_path(@campaign.id), class: "offcanvas-user-wishlist-link" do %>
                             My Store
                          <% end %>
                        </li>
                      <% else %>
                        <li class="menu-item-has-children dropdown">
                          <%= link_to "Home", '/' %>
                        </li>
                      <% end %>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="content-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12 main-wrap">
          <div class="main-content">
            <div class="row">
              <div class="col-sm-8">
                <div class="wpb_wrapper">
                  <div class="row inner faq-wrapper">
                    <div class="col-sm-12">
                      <div class="content_element title">
                        <h5>General Questions</h5>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>What is w/you™?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          w/you both helps persons facing medical situations find suitable clothing, footwear, and
                          accessories to meet their changing physical needs and provides a platform by which
                          friends and family can contribute funds that the person can then use to purchase
                          specific items they select.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>What are people saying about w/you™?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          Here are some actual quotes from respondents to a Qualtrics survey administered July
                          10-15, 2015:<br />
                          This service could work well for people with any disability or medical condition.<br />
                          What a kind and valuable idea for those in desperate need of a service such as this.<br />
                          As a retired R.N., there is a need for this concept.<br />
                          I like the idea of having a team of people ‘w/you’ to make you feel like you are not
                          alone at a time that is so devastating in your life.<br />
                          I think this is a great service and will be used by many.<br />
                          This could really improve the quality of life for thousands of people living with disease.<br />
                          It would boost the spirits of many ill people not to mention aid them in their lives.<br />
                          This is a wonderful and much needed service.<br />
                          This is a unique service that can make a difference.<br />
                          This service would benefit thousands of women and men looking to accommodate their
                          changing needs. This would be a great service on many levels.<br />
                          I think this is a wonderfully innovative idea.<br />
                          I think this is an excellent idea, and wish everyone the best that this will be a thing of
                          the future!
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>How does w/you™ work?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          Setting up and using a w/you campaign typically involves four relatively simple steps, as
                          follows:<br /><br />
                          Step 1:  A campaign is created on behalf of a loved one experiencing a medical situation
                          to allow friends and family to contribute funds that the recipient can use to purchase
                          clothing, footwear, and accessories to meet their changing physical needs. <br /><br />
                          Step 2:   The recipient is notified of the campaign and asked a few general questions
                          about their condition to allow w/you to identify an array of potentially suitable items
                          based on research and input from health-care professionals such as OTs, PTs, nurses,
                          and doctors, as well as its experience providing the service for others in similar
                          situations.<br /><br />
                          Step 3:  The recipient is assigned a MedStylist who serves as their single point of contact
                          and works with the recipient to help them select the specific items that will best meet
                          both their particularized physical needs and stylistic preferences.  The recipient may
                          also choose up to three persons who will be allowed to provide input into their selection
                          process.<br /><br />
                          Step 4:   The recipient uses their campaign funds to purchase the items they have
                          selected and w/you takes care of shipping them to the recipient in a timely fashion.  Any
                          of the campaign contributors can also pay a modest additional fee to provide for the
                          items to be delivered to the recipient in a special w/you gift box.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>How do I know if someone I know will want to be a w/you™ campaign recipient?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          Our surveys* showed that 74% of females who have experienced a medical situation
                          would find useful or desirable a service by which a medical stylist, in consultation with a
                          team of health-care professionals, helps people in such situations find clothing,
                          footwear, or accessories to meet both their changing physical needs and fashion
                          preferences. More specifically, 80% of women who have experienced breast cancer
                          expressed a desire for the kind of service that w/you provides. *data from Qualtrics
                          surveys administered July 10-15, 2015, and February 2-7, 2016. <br /> <br />
                          If, upon being notified that a campaign has been created on their behalf, a recipient
                          indicates that they do not wish to utilize our services, there are a number of different
                          available options, including a full refund of the contribution made in setting up the
                          campaign.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>Why do you offer campaigns along with the service?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          The campaigns offer a convenient way for motivated loved ones of those facing a
                          medical situation to express their support by helping to pay for clothing, footwear, and
                          accessories to meet the recipient’s changing physical needs not covered by health
                          insurance. With 71% of females who have experienced a medical situation expressing a
                          need for different clothing, footwear, or accessories from what they ordinarily wear, this
                          also provides an opportunity for loved ones to help alleviate the financial burdens often
                          associated with such situations.<br /><br />
                          w/you not only helps a person facing a medical situation, they also help their loved ones
                          who are looking for a tangible and meaningful way to help. With 87% of people already
                          struggling with knowing how to effectively respond or provide tangible support to
                          someone they know well who is facing a medical situation and 95% of people being
                          willing to pay for our service as part of a group, it made sense to provide campaign
                          contribution options as a part of the service.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>How much in contributions does someone going through a medical
                              situation need on average to purchase different clothing, footwear, or
                              accessories to accommodate their changing physical needs?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          The amount can vary widely depending on the specific situation, but our surveys and
                          experience indicate persons have spent a minimum of approximately $250-500 for such
                          needs on average.  The MedStylist will be able to provide guidance on this issue if you
                          would like to Live Chat with one on our site.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>Can I purchase w/you’s service for myself?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          Of course! You can go ahead and register on the w/you site and order our services on your own.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>What if I am interested in having a campaign started on my behalf?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          You can make your loved ones aware of w/you by sending them an email or sharing it on Facebook. People often appreciate knowing how they can be helpful to you so don’t
                          hesitate to let them know.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>For which types of situations would this service be appropriate?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          At this time, w/you is starting with breast cancer although are in the process of
                          broadening our reach by serving inpatient surgeries, seniors, physical disabilities, and
                          post-pregnancies.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>For which ages would this service be appropriate?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          Services will be available to children all the way up to seniors.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>Can someone work on behalf of a campaign recipient?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          Absolutely! w/you understands that some recipients will need and/or prefer to have an
                          identified loved one work on their behalf.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>What is a MedStylist?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          MedStylists serve as the interface between someone facing a medical situation and a
                          group of health-care professionals who provide expert advice and input on appropriate
                          clothing options. This way, the MedStylist has the benefit of the collective expertise and
                          experience of those in the health-care industry and input from the campaign recipient as
                          to their needs and preferences. On basis of both sides of this equation, MedStylists then
                          curates an array of options that she believes could most effectively need the personalized
                          situation of the patient from which she can then choose which items to purchase.
                          MedStylists also serve as a point of contact with the brands with whom w/you partners
                          to ensure campaign recipients get what they need when they need them.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>Price Range of clothing, footwear, and accessory options</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          We provide a wide variety of price point options for to choose from. Please don’t hesitate
                          to reach out to your MedStylist if you are in need of an item at a lower price point.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>Do I have to use the campaign funds all at once?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          You decide when you want to use your campaign funds and w/you services. Some people
                          prefer to order items before a surgery while others wait until they start to experience
                          certain symptoms or side effects.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>Can I contribute to a campaign more than once?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          Absolutely. Because some people have long treatment plans and/or ongoing changing
                          body needs you can continue to support them in a tangible and meaningful way by
                          signing up for automatic recurring contributions.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>What if there are items that I want that aren’t being provided to me as an
                          option through w/you?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          All you have to do is let your MedStylist know and your funds can be used for any items
                          of your choosing. You can also use your campaign funds for items or co-pay coverage
                          outside of what your insurance pays for at centers associated with your hospital or clinic.
                          To do this, you can either have the center contact your MedStylist directly or just let
                          your MedStylist know.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>What if I am in need of w/you services but don’t have the financial means
                              myself or from others?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          Please reach out to us.  Although we can’t guarantee that we’ll be able to help, the reason
                          w/you is a social venture is because we contribute a portion of our own revenue to a
                          fund to provide service for those whose circumstances can’t afford it.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>What about returns?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          First, please make sure that the items you want to return can be returned because some
                          postsurgical items, for example are not returnable.  If you’re not happy with an item or
                          prefer it in another size, please don’t hesitate to contact your MedStylist so they can
                          work quickly to get the items your need. If the items were shipped directly from one of
                          our partnering brands, simply follow their return instructions. If your loved ones had
                          the items shipped to you in a w/you gift box, simply use the return envelope with pre-
                          paid shipping label. While returns can be made dropped off at any USPS post office or
                          drop box location, we can make special arrangements for a pick-up should your medical
                          situation prohibit you from making that possible. If that’s the case, simply let your
                          MedStylist know.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>Does w/you™ provide medical treatment or advice?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          No.  w/you™ is a supplementary or auxiliary service for those facing health-related
                          situations, but it does not constitute or include the provision of medical services, health-
                          care services, or complementary health services of any kind.  In working with those
                          facing health-related situations to help them find products intended to meet their
                          particularized needs, our MedStylists™ may draw upon a data base of what has helped
                          other similarly situated individuals and/or more specifically consult with nurses,
                          occupational therapists, and other health-care professionals or employees to enlist their
                          advice and receive the benefit of their experience.  The person receiving our services,
                          however, has no direct contact with any of these health-care professionals or other
                          employees, but will gain the benefit of their expertise through any consultation that their
                          MedStylistTM may have with them.  Moreover, if asked questions that even start to sound
                          like they are seeking medical care or advice, the MedStylist™ is not authorized to
                          answer them and will instead kindly direct the recipient of our services to put any such
                          questions to one or more of their medical provider(s) instead.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>What role does my insurance play in the provision of or payment for your services?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>Some health insurance companies are covering certain types of clothing, footwear and
                          accessories (e.g., compression socks, mastectomy bras, or diabetic shoes).  Because
                          we want you to be able to put the funds you have available for the purchase of items
                          through utilization of our services to the maximum extent practicable, we’ll do our best
                          to work with you to try to make sure that you can utilize your insurance benefits to the
                          full extent of your coverage for any such items. For your specific coverage information,
                          it’s always recommended to have direct communication with your insurance carrier(s).
                          To be clear, though, we do not submit anything to your health-insurance carrier(s).  You
                          and your medical provider(s) are responsible for submitting any insurance claims.</p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>What if I want loved ones to be involved with providing input on the items I ultimately
                          choose to purchase through utilization of the services of w/you, LLC™?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          No problem. You will be able to provide the e-mail addresses of up to three people who
                          you want to be provided an opportunity to play such a role, and we will follow up by
                          inviting them to do so.  It will be up to them whether to accept your invitation, of course.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>If someone purchases your services for me, what information do they have access to?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          Upon agreeing to accept our services purchased for you by someone else, you are
                          providing your consent for any others who may be invited to contribute toward the
                          purchase of such services on your behalf to learn at least in general about the health-
                          related situation for which the services are being provided.  In addition, if you give
                          authorization for others (up to three maximum) to be involved with providing input on the
                          items you ultimately select to purchase, you will be asked to provide consent for them to
                          be aware of the more specific information that you (and any relevant medical providers
                          for which you have duly executed a Release of Information) have given to w/you, LLC™
                          in connection with the provision of our services.  Merely purchasing or contributing
                          toward the purchase of our services does not, however, give a person access to this
                          more specific information that has been provided to us or to any of your medical records
                          that you may have granted consent for us to review or receive through an ROI.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
<!-- <div class="row inner faq-wrapper">
<div class="col-sm-12">
<div class="content_element title">
<h5>Shipping</h5>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>How do I contact you?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
You can email us at
<a href="/cdn-cgi/l/email-protection#8eebe3efe7e2ceeae1e3efe7e0a0ede1e3">email@domain</a>
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Where are you located? </h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>We&#8217;re located in 69 New York,CA, 1239 USA</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>What forms of payment do you accept?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>We accept all major credit cards, as well as Paypal.</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Do you have a different size?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
We only have the sizes listed on the product page in stock. We unfortunately only carry limited sizes in stock.
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>How do I cancel an order?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
Write us as soon as possible at
<a href="/cdn-cgi/l/email-protection#5d38303c34311d3932303c3433733e3230">email@domain</a>. Once something has shipped, we can no longer cancel and refund an order.
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Something is wrong with my order?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
Please contact us as soon as possible at
<a href="/cdn-cgi/l/email-protection#aecbc3cfc7c2eecac1c3cfc7c080cdc1c3">email@domain</a>
Once something has shipped, we can no longer make changes to your order.
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Will I fit into a garment listed as one size/free size? </h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
Our one size garments are items that are meant to be worn oversized, are free flowing or adjustable. If you wear a size small to large, these items will generally fit you. Please check our measurements and size guide! We list out model&#8217;s measurements as a reference.
</p>
</div>
</div>
</div>
</div>
<div class="row inner faq-wrapper">
<div class="col-sm-12">
<div class="content_element title">
<h5>Returns/Exchange</h5>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>How do I contact you?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
You can email us at
<a href="/cdn-cgi/l/email-protection#caafa7aba3a68aaea5a7aba3a4e4a9a5a7">email@domain</a>
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Where are you located? </h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>We&#8217;re located in 69 New York,CA, 1239 USA</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>What forms of payment do you accept?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>We accept all major credit cards, as well as Paypal.</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Do you have a different size?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
We only have the sizes listed on the product page in stock. We unfortunately only carry limited sizes in stock.
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>How do I cancel an order?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
Write us as soon as possible at
<a href="/cdn-cgi/l/email-protection#87e2eae6eeebc7e3e8eae6eee9a9e4e8ea">email@domain</a>. Once something has shipped, we can no longer cancel and refund an order.
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Something is wrong with my order?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
Please contact us as soon as possible at
<a href="/cdn-cgi/l/email-protection#6f0a020e06032f0b00020e0601410c0002">email@domain</a>
Once something has shipped, we can no longer make changes to your order.
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Will I fit into a garment listed as one size/free size? </h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
Our one size garments are items that are meant to be worn oversized, are free flowing or adjustable. If you wear a size small to large, these items will generally fit you. Please check our measurements and size guide! We list out model&#8217;s measurements as a reference.
</p>
</div>
</div>
</div>
</div>
</div> -->
</div>
</div>
<div class="col-sm-4">
<div class="row contact-info">
<div class="col-sm-12">
<div>
<h4>NEED SUPPORT</h4>
</div>
<div class="separator content_element separator_align_center sep_width_100 sep_pos_align_center separator_no_text">
<span class="sep_holder sep_holder_l">
<span class="sep_line"></span>
</span>
<span class="sep_holder sep_holder_r">
<span class="sep_line"></span>
</span>
</div>
<div class="content_element">
<div class="support-icon">
<i class="fa fa-map-marker"></i>
69 New York,CA, 1239 USA
</div>
<div class="support-icon">
<i class="fa fa-phone"></i>
(012) 1234 7824
</div>
<div class="support-icon">
<i class="fa fa-envelope-o"></i>
<a href="/cdn-cgi/l/email-protection#6c09010d05002c0803010d0502420f0301">
<span class="__cf_email__" data-cfemail="fd98909c9491bd9992909c9493d39e9290">[email&#160;protected]</span><script data-cfhash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("data-cfhash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}t.parentNode.removeChild(t);}}catch(u){}}()/* ]]> */</script>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-widget">
<div class="container">
<div class="footer-widget-wrap">
<div class="row">
<div class="footer-widget-col col-md-2 col-sm-6">
<div class="widget widget_nav_menu">
<h3 class="widget-title"><span>Infomation</span></h3>
<ul class="menu">
<li><a href="#">About Us</a></li>
<li><a href="#">Work Here</a></li>
<li><a href="#">Careers</a></li>
<li><a href="#">Dealer Locator</a></li>
<li><a href="#">Happenings</a></li>
</ul>
</div>
</div>
<div class="footer-widget-col col-md-2 col-sm-6">
<div class="widget widget_nav_menu">
<h3 class="widget-title"><span>Customer Care</span></h3>
<ul class="menu">
<li><a href="#">Support</a></li>
<li><a href="#">FAQ</a></li>
<li><a href="#">Repair Center</a></li>
<li><a href="#">Contact us</a></li>
</ul>
</div>
</div>
<div class="footer-widget-col col-md-2 col-sm-6">
<div class="widget widget_nav_menu">
<h3 class="widget-title"><span>Quick Link</span></h3>
<ul class="menu">
<li><a href="#">Order Status</a></li>
<li><a href="#">Shipping Policy</a></li>
<li><a href="#">Return Policy</a></li>
<li><a href="#">Digital Gift Card</a></li>
</ul>
</div>
</div>
<div class="footer-widget-col col-md-2 col-sm-6">
<div class="widget widget_nav_menu">
<h3 class="widget-title"><span>Help</span></h3>
<ul class="menu">
<li><a href="#">Privacy</a></li>
<li><a href="#">Terms and Conditions</a></li>
<li><a href="#">Social Responsibility</a></li>
</ul>
</div>
</div>
<div class="footer-widget-col col-md-4 col-sm-6">
<div class="widget widget_text">
<h3 class="widget-title"><span>The Store</span></h3>
<div class="textwidget">
<p><i class="fa fa-map-marker"></i> No 68/12, Tower Street,New York, USA</p>
<p><i class="fa fa-phone"></i> (012) 1234 7824</p>
<p><i class="fa fa-envelope"></i> <a href="/cdn-cgi/l/email-protection#91f4fcf0f8fdd1f5fefcf0f8ffbff2fefc"><span class="__cf_email__" data-cfemail="8de8e0ece4e1cde9e2e0ece4e3a3eee2e0">[email&#160;protected]</span><script data-cfhash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("data-cfhash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}t.parentNode.removeChild(t);}}catch(u){}}()/* ]]> */</script></a></p>
<p class="payment"><img src="images/footer-payment-color.png" alt=""></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<footer id="footer" class="footer">
<div class="footer-info">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<div class="footer-info-logo">
<a href="#"><img alt="The DMCS" src="images/footer-logo.png"></a>
</div>
<div class="copyright text-center">Copyright right © 2015 DMCS. All Rights Reserved.</div>
<div class="footer-social">
<a href="#" title="Facebook" target="_blank">
<i class="fa fa-facebook facebook-bg-hover"></i>
</a>
<a href="#" title="Twitter" target="_blank">
<i class="fa fa-twitter twitter-bg-hover"></i>
</a>
<a href="#" title="Google+" target="_blank">
<i class="fa fa-google-plus google-plus-bg-hover"></i>
</a>
<a href="#" title="Pinterest" target="_blank">
<i class="fa fa-pinterest pinterest-bg-hover"></i>
</a>
<a href="#" title="RSS" target="_blank">
<i class="fa fa-rss rss-bg-hover"></i>
</a>
<a href="#" title="Instagram" target="_blank">
<i class="fa fa-instagram instagram-bg-hover"></i>
</a>
</div>
</div>
</div>
</div>
</div>
</footer>
</div>
<div class="modal fade user-login-modal" id="userloginModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<form id="userloginModalForm">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">
<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
</button>
<h4 class="modal-title">Login</h4>
</div>
<div class="modal-body">
<div class="user-login-facebook">
<button class="btn-login-facebook" type="button">
<i class="fa fa-facebook"></i>Sign in with Facebook
</button>
</div>
<div class="user-login-or"><span>or</span></div>
<div class="form-group">
<label>Username</label>
<input type="text" id="username" name="log" required class="form-control" value="" placeholder="Username">
</div>
<div class="form-group">
<label for="password">Password</label>
<input type="password" id="password" required value="" name="pwd" class="form-control" placeholder="Password">
</div>
<div class="checkbox clearfix">
<div class="form-flat-checkbox pull-left">
<input type="checkbox" name="rememberme" id="rememberme" value="forever"><i></i>&nbsp;Remember Me
</div>
<span class="lostpassword-modal-link pull-right">
<a href="#lostpasswordModal" data-rel="lostpasswordModal">Lost your password?</a>
</span>
</div>
</div>
<div class="modal-footer">
<span class="user-login-modal-register pull-left">
<a data-rel="registerModal" href="#">Not a Member yet?</a>
</span>
<button type="submit" class="btn btn-default btn-outline">Sign in</button>
</div>
</form>
</div>
</div>
</div>
<div class="modal fade user-register-modal" id="userregisterModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<form id="userregisterModalForm">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">
<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
</button>
<h4 class="modal-title">Register account</h4>
</div>
<div class="modal-body">
<div class="user-login-facebook">
<button class="btn-login-facebook" type="button">
<i class="fa fa-facebook"></i>Sign in with Facebook
</button>
</div>
<div class="user-login-or"><span>or</span></div>
<div class="form-group">
<label>Username</label>
<input type="text" name="user_login" required class="form-control" value="" placeholder="Username">
</div>
<div class="form-group">
<label for="user_email">Email</label>
<input type="email" id="user_email" name="user_email" required class="form-control" value="" placeholder="Email">
</div>
<div class="form-group">
<label for="user_password">Password</label>
<input type="password" id="user_password" required value="" name="user_password" class="form-control" placeholder="Password">
</div>
<div class="form-group">
<label for="user_password">Retype password</label>
<input type="password" id="cuser_password" required value="" name="cuser_password" class="form-control" placeholder="Retype password">
</div>
</div>
<div class="modal-footer">
<span class="user-login-modal-link pull-left">
<a data-rel="loginModal" href="#loginModal">Already have an account?</a>
</span>
<button type="submit" class="btn btn-default btn-outline">Register</button>
</div>
</form>
</div>
</div>
</div>
<div class="modal fade user-lostpassword-modal" id="userlostpasswordModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<form id="userlostpasswordModalForm">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">
<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
</button>
<h4 class="modal-title">Forgot Password</h4>
</div>
<div class="modal-body">
<div class="form-group">
<label>Username or E-mail:</label>
<input type="text" name="user_login" required class="form-control" value="" placeholder="Username or E-mail">
</div>
</div>
<div class="modal-footer">
<span class="user-login-modal-link pull-left">
<a data-rel="loginModal" href="#loginModal">Already have an account?</a>
</span>
<button type="submit" class="btn btn-default btn-outline">Sign in</button>
</div>
</form>
</div>
</div>
</div>
<div class="sitesao-preview">
<div class="sitesao-preview__wrap">
<a href="#" class="sitesao-preview__control"><i class="fa fa-spin fa-cog"></i></a>
<div class="sitesao-preview__header">
<h4>Demo</h4>
</div>
<div class="sitesao-preview__content">
<div class="sitesao-preview__content__section">
<div class="sitesao-preview__content__section__layout">
<label>Layout Style</label>
<select data-name="layout-style">
<option selected="selected" value="wide">Wide</option>
<option value="boxed">Boxed</option>
</select>
</div>
<div class="sitesao-preview__content__section__bg-pattern">
<label>Pattern examples:</label>
<ul>
<li>
<a href="#" data-pattern="images/background/pattern-1.png" style="background-image:url(images/background/pattern-1.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-2.png" style="background-image:url(images/background/pattern-2.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-3.png" style="background-image:url(images/background/pattern-3.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-4.png" style="background-image:url(images/background/pattern-4.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-5.png" style="background-image:url(images/background/pattern-5.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-6.png" style="background-image:url(images/background/pattern-6.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-7.png" style="background-image:url(images/background/pattern-7.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-8.png" style="background-image:url(images/background/pattern-8.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-9.png" style="background-image:url(images/background/pattern-9.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-10.png" style="background-image:url(images/background/pattern-10.png)"></a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
