<body class="shop-account">
<div class="offcanvas open">
  <div class="offcanvas-wrap">
    <div class="offcanvas-user clearfix">
      <% if @campaign %>
        <%= link_to campaign_stores_path(@campaign.id), class: "offcanvas-user-wishlist-link" do %>
          <i class="fa fa-heart-o"></i> My Store
        <% end %>
        <%= link_to destroy_user_session_path, :method => :delete, class: "offcanvas-user-account-link" do %>
          <i class="fa fa-user"></i> Logout
        <% end %>
      <% else %>
        <%= link_to '/' do %>
          Home
        <% end %>
      <% end %>
    </div>
    <nav class="offcanvas-navbar">
      <ul class="offcanvas-nav">
        <% if @campaign %>
          <% unless @campaign.private? %>
            <li class="menu-item-has-children dropdown">
              <%= link_to "My Campaign", campaign_path(@campaign) %>
            </li>
          <% end %>
          <li>
            <%= link_to "Orders", campaign_orders_path(@campaign) %>
          </li>
        <% else %>
          <li class="menu-item-has-children dropdown">
            <%= link_to "Home", '/' %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
<div id="wrapper" class="wide-wrap">
  <div class="offcanvas-overlay"></div>
  <header class="header-type-classic">
    <div class="navbar-container">
      <div class="navbar navbar-default  navbar-scroll-fixed">
        <div class="navbar-default-wrap">
          <div class="container">
            <div class="row">
              <div class="col-md-12 navbar-default-col">
                <div class="navbar-wrap">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar bar-top"></span>
                      <span class="icon-bar bar-middle"></span>
                      <span class="icon-bar bar-bottom"></span>
                    </button>
                    <% if @campaign %>
                      <%= link_to campaign_path(@campaign), class: "navbar-brand" do %>
                        <%= image_tag 'dmcs/wyoulogo.png', :class=>'logo logo-fixed logo-transparent' %>
                      <% end %>
                    <% end %>
                  </div>
                  <nav class="collapse navbar-collapse primary-navbar-collapse">
                    <ul class="nav navbar-nav primary-nav">
                      <% if @campaign %>
                        <li class="menu-item-has-children dropdown">
                          <%= link_to "My Campaign", campaign_path(@campaign) %>
                        </li>
                        <li>
                          <%= link_to "Orders", campaign_orders_path(@campaign) %>
                        </li>
                        <li>
                          <%= link_to campaign_stores_path(@campaign.id), class: "offcanvas-user-wishlist-link" do %>
                             My Store
                          <% end %>
                        </li>
                      <% else %>
                        <li class="menu-item-has-children dropdown">
                          <%= link_to "Home", '/' %>
                        </li>
                      <% end %>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="content-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12 main-wrap">
          <div class="main-content">
            <div class="row">
              <div class="col-sm-8">
                <div class="wpb_wrapper">
                  <div class="row inner faq-wrapper">
                    <div class="col-sm-12">
                      <div class="content_element title">
                        <h5>General Questions</h5>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>What is w/you™?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          w/you provides a meaningful and tangible means for a close circle of friends and family to help mitigate the often heavy financial burden a person dealing with a medical situation faces in trying to meet the full spectrum of their needs.  As an example, our surveys found that the majority of women going through breast cancer treatment spent at least $250 on clothing, footwear, and accessories to address their changing physical needs.  Especially when added to mounting health-care costs a person may also well be facing, this additional expense can seem overwhelming and so they may simply forgo trying to meet these specific needs.<br /><br />
                          w/you is designed to address what are largely unmet needs, all in the context of comprehensive care.  As an example, 100% of the women we surveyed who were going through breast cancer treatment expressed a need for different clothing, footwear, or accessories to accommodate their changing physical needs.  Instead of being left to search on their own for quality products that might meet their needs in multiple places, w/you saves those who have an account valuable time and energy by serving as a single, one-stop resource for such products.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>What are people saying about w/you™?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          Here are some actual quotes from respondents to a Qualtrics survey administered July
                          10-15, 2015:<br />
                          This service could work well for people with any disability or medical condition.<br />
                          What a kind and valuable idea for those in desperate need of a service such as this.<br />
                          As a retired R.N., there is a need for this concept.<br />
                          I like the idea of having a team of people ‘w/you’ to make you feel like you are not
                          alone at a time that is so devastating in your life.<br />
                          I think this is a great service and will be used by many.<br />
                          This could really improve the quality of life for thousands of people living with disease.<br />
                          It would boost the spirits of many ill people not to mention aid them in their lives.<br />
                          This is a wonderful and much needed service.<br />
                          This is a unique service that can make a difference.<br />
                          This service would benefit thousands of women and men looking to accommodate their
                          changing needs. This would be a great service on many levels.<br />
                          I think this is a wonderfully innovative idea.<br />
                          I think this is an excellent idea, and wish everyone the best that this will be a thing of
                          the future!
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>Why is w/you™ a new e-commerce approach to caring for people facing medical situations?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          w/you is built on a patient-centered approach to e-commerce and designed to give recipients a feeling of control over their environment by allowing them to select the items they wish to purchase from among the ones we have featured for them based on their medical situation.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>How does w/you™ serve those who are vulnerable?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          w/you seeks to provide one safe and convenient space for a recipient to identify what they need or want as they face both emotional and physical changes associated with their medical condition without judgment or embarrassment. Those in a vulnerable place due to a medical situation have a right to quality clothes that fit them and have features to accommodate their changing physical needs. Our site offers tangible tools that have been expressly designed to maximize the opportunity for recipients to maintain their non-illness identity and/or define any new self-identity as they wish in light of their changing physical condition.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>How does w/you™ work?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          Setting up and using a w/you account typically involves four relatively simple steps, as
                          follows:<br /><br />
                          Step 1:  You or a loved one create a w/you account to which others can contribute funds for you to use to purchase clothing, footwear, and accessories. <br /><br />
                          Step 2:   Upon creation of your account, we will notify you and ask you to provide some basic information to enhance our ability to provide you with items to choose from in making purchases from your account.<br /><br />
                          Step 3:  We will supply you with clothing, footwear, and accessories options based on our intensive data-gathering focused on finding items that can meet the changing physical needs associated with your condition.<br /><br />
                          Step 4:   Use the funds in your w/you account at any time to purchase items that you select from among the options on your account page. You can also use some of your funds to have one of our MedStylists provide you with more personalized assistance.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>What if there are items that I want that aren't being provided to me as an option through w/you™?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          All you have to do is let us know at questions@wyou.co know and your account funds can be used for any items of your choosing. If you’re in need of even more personalized care, consider using your account money to hire a MedStylist for $75. While not offering medical advise, a  MedStylist has the benefit of the collective expertise and experience of those in the health-care industry and input from the campaign recipient as to their needs and preferences. Using that information, MedStylists also serve as a point of contact with the brands with whom w/you partners to ensure people get what they need when they need them. You’ll find the MedStylist add-on as an option on your account page.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>Can I open a w/you™ account for myself?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          Of course! You can go ahead and register on the w/you site and add deposits into your own account.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>Can someone work on behalf of an account recipient?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          Absolutely. w/you understands that some recipients will need and/or prefer to have an identified loved one work on their behalf. We’ve included in the initial questions to an account recipient an opportunity to make us aware of the person who will be working on their behalf. We do want to make you aware that if you do give authorization for others to be involved, you’re providing your consent for them to be aware of the more specific information that you have given to w/you, LLC™ in connection with the provision of our services.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>Does w/you™ provide medical treatment or advice?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          No.  w/you™ is a supplementary or auxiliary service for those facing health-related
                          situations, but it does not constitute or include the provision of medical services, health-
                          care services, or complementary health services of any kind.  In working with those
                          facing health-related situations to help them find products intended to meet their
                          particularized needs, our MedStylists™ may draw upon a database of what has helped
                          other similarly situated individuals and/or more specifically consult with nurses,
                          occupational therapists, and other health-care professionals or employees to enlist their
                          advice and receive the benefit of their experience.  The person receiving our services,
                          however, has no direct contact with any of these health-care professionals or other
                          employees, but will gain the benefit of their expertise through any consultation that their
                          MedStylistTM may have with them.  Moreover, if asked questions that even start to sound
                          like they are seeking medical care or advice, the MedStylist™ is not authorized to
                          answer them and will instead kindly direct the recipient of our services to put any such
                          questions to one or more of their medical provider(s) instead.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>Fees</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          Out of every deposit made to an account, 5% is assessed that covers our services in helping the recipient find suitable clothing, footwear, or accessories for their medical situation. For example, for every $100 contributed, $95 goes into the recipient’s campaign account for them to use to purchase items they select with our assistance, and $5.00 goes for our service fee.  Additional charges will be assessed for shipping, especially if more expedited shipping is needed or desired, with the specific amount based on how quickly delivery is requested.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>What role does my insurance play in the provision of or payment for your services?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          Some health insurance companies are covering certain types of clothing, footwear and accessories (e.g., compression socks, mastectomy bras, or diabetic shoes. For your specific coverage information, it’s always recommended to have direct communication with your insurance carrier(s).  To be clear, though, we do not submit anything to your health-insurance carrier(s).  You and your medical provider(s) are responsible for submitting any insurance claims. In some cities, we have existing relationships with stores that do have the capability to fill out your insurance paperwork for specific covered items. Feel free to ask us about resources in your area and we’ll do our best to get you connected.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>What about the privacy of those w/you™ serves?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          Staff are careful not to share personal information about anyone using our services because we believe everyone has a right to exercise control over their own information, especially during a vulnerable time and in regard to potentially sensitive matters. Please refer to consents for more information on privacy.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>How do I know if someone I know will want a w/you™ account?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          As previously mentioned, our surveys* showed that 74% of females who have experienced a medical situation would find useful or desirable a service by which a medical stylist, in consultation with a team of health-care professionals, helps people in such situations find clothing, footwear, or accessories to meet both their changing physical needs and stylistic preferences. More specifically, 80% of women who have experienced breast cancer expressed a desire for the kind of service that w/you provides. *data from Qualtrics surveys administered July 10-15, 2015, and February 2-7, 2016.<br /><br />

                          If, upon being notified that an account has been created on their behalf, a recipient indicates that they do not wish to utilize our platform, there are a number of different available options, including a full refund of the contribution made in setting up the campaign.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>How much in deposits does someone going through a medical situation need on average to purchase different clothing, footwear, or accessories to accommodate their changing physical needs?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          The amount can vary widely depending on the specific situation, but our surveys and experience indicate persons have spent a minimum of approximately $250-500 for such needs on average.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>What’s the Gift Box Option?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          Anyone making a deposit into an account for someone can request to have the items the recipient selects for purchase delivered to the recipient in a special w/you gift box for a $50 fee. The box is glossy, highly durable, and reusable. Together with a custom satin ribbon, navy tissue, and a personalized gift enclosure, it makes for a lovely presentation.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>Price Range of clothing, footwear, and accessory options</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          We provide a wide variety of price point options for to choose from. Please don’t hesitate to reach out to us at questions@wyou.co if you wants items at a lower price point than provided.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>Do I have to use the money in my account all at once?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          No, because some medical situations involve long treatment plans and/or ongoing changing body needs, you decide when you want to use the money in your account to buy the items you’ll need.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>Shipping</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          Additional charges will be assessed for shipping when you purchase an item. If more expedited shipping is needed or desired, we’ll try to let you know the specific amount based on how quickly delivery is requested.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>What about returns?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          First, if you’re not happy with an item or prefer it in another size, please don’t hesitate to contact us at questions@wyou.co so we can work quickly to get the items your need. Please make sure that the items you want to return can be returned because some postsurgical items, for example are not returnable.  If the items were shipped directly from one of our partnering brands, simply follow their return instructions. If your loved ones had the items shipped to you in a w/you gift box, simply use the return envelope with pre-paid USPS shipping label. Once the returned item is received and the return is processed, the amount will be added back to your account.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>Contact Us</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          You may email any questions about w/you to questions@wyou.co or call us at 855-Iam-wyou (855-426-9968).  Whichever way you reach out to us, we strive to answer all inquiries within 24 hours.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>How can I provide Feedback?</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                          Because w/you is new and constantly being updated, we are especially interested in your feedback about your experience here as well as any other thoughts and suggestions. In fact, our founder wants to hear it directly from you at annie@wyou.co.
                          </p>
                        </div>
                      </div>
                      <div class="toggle toggle_default toggle_color_default">
                        <div class="toggle_title">
                          <h4>Careers</h4>
                          <i class="toggle_icon"></i>
                        </div>
                        <div class="toggle_content">
                          <p>
                         Please keep checking back as we will be posting job openings as they come available!
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
<!-- <div class="row inner faq-wrapper">
<div class="col-sm-12">
<div class="content_element title">
<h5>Shipping</h5>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>How do I contact you?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
You can email us at
<a href="/cdn-cgi/l/email-protection#8eebe3efe7e2ceeae1e3efe7e0a0ede1e3">email@domain</a>
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Where are you located? </h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>We&#8217;re located in 69 New York,CA, 1239 USA</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>What forms of payment do you accept?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>We accept all major credit cards, as well as Paypal.</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Do you have a different size?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
We only have the sizes listed on the product page in stock. We unfortunately only carry limited sizes in stock.
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>How do I cancel an order?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
Write us as soon as possible at
<a href="/cdn-cgi/l/email-protection#5d38303c34311d3932303c3433733e3230">email@domain</a>. Once something has shipped, we can no longer cancel and refund an order.
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Something is wrong with my order?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
Please contact us as soon as possible at
<a href="/cdn-cgi/l/email-protection#aecbc3cfc7c2eecac1c3cfc7c080cdc1c3">email@domain</a>
Once something has shipped, we can no longer make changes to your order.
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Will I fit into a garment listed as one size/free size? </h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
Our one size garments are items that are meant to be worn oversized, are free flowing or adjustable. If you wear a size small to large, these items will generally fit you. Please check our measurements and size guide! We list out model&#8217;s measurements as a reference.
</p>
</div>
</div>
</div>
</div>
<div class="row inner faq-wrapper">
<div class="col-sm-12">
<div class="content_element title">
<h5>Returns/Exchange</h5>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>How do I contact you?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
You can email us at
<a href="/cdn-cgi/l/email-protection#caafa7aba3a68aaea5a7aba3a4e4a9a5a7">email@domain</a>
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Where are you located? </h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>We&#8217;re located in 69 New York,CA, 1239 USA</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>What forms of payment do you accept?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>We accept all major credit cards, as well as Paypal.</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Do you have a different size?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
We only have the sizes listed on the product page in stock. We unfortunately only carry limited sizes in stock.
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>How do I cancel an order?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
Write us as soon as possible at
<a href="/cdn-cgi/l/email-protection#87e2eae6eeebc7e3e8eae6eee9a9e4e8ea">email@domain</a>. Once something has shipped, we can no longer cancel and refund an order.
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Something is wrong with my order?</h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
Please contact us as soon as possible at
<a href="/cdn-cgi/l/email-protection#6f0a020e06032f0b00020e0601410c0002">email@domain</a>
Once something has shipped, we can no longer make changes to your order.
</p>
</div>
</div>
<div class="toggle toggle_default toggle_color_default">
<div class="toggle_title">
<h4>Will I fit into a garment listed as one size/free size? </h4>
<i class="toggle_icon"></i>
</div>
<div class="toggle_content">
<p>
Our one size garments are items that are meant to be worn oversized, are free flowing or adjustable. If you wear a size small to large, these items will generally fit you. Please check our measurements and size guide! We list out model&#8217;s measurements as a reference.
</p>
</div>
</div>
</div>
</div>
</div> -->
</div>
</div>
<div class="col-sm-4">
<div class="row contact-info hidden">
<div class="col-sm-12">
<div>
<h4>NEED SUPPORT</h4>
</div>
<div class="separator content_element separator_align_center sep_width_100 sep_pos_align_center separator_no_text">
<span class="sep_holder sep_holder_l">
<span class="sep_line"></span>
</span>
<span class="sep_holder sep_holder_r">
<span class="sep_line"></span>
</span>
</div>
<div class="content_element">
<div class="support-icon">
<i class="fa fa-map-marker"></i>
69 New York,CA, 1239 USA
</div>
<div class="support-icon">
<i class="fa fa-phone"></i>
(012) 1234 7824
</div>
<div class="support-icon">
<i class="fa fa-envelope-o"></i>
<a href="/cdn-cgi/l/email-protection#6c09010d05002c0803010d0502420f0301">
<span class="__cf_email__" data-cfemail="fd98909c9491bd9992909c9493d39e9290">[email&#160;protected]</span><script data-cfhash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("data-cfhash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}t.parentNode.removeChild(t);}}catch(u){}}()/* ]]> */</script>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-widget">
<div class="container">
<div class="footer-widget-wrap">
<div class="row">
<div class="footer-widget-col col-md-2 col-sm-6">
<div class="widget widget_nav_menu">
<h3 class="widget-title"><span>Infomation</span></h3>
<ul class="menu">
<li><a href="#">About Us</a></li>
<li><a href="#">Work Here</a></li>
<li><a href="#">Careers</a></li>
<li><a href="#">Dealer Locator</a></li>
<li><a href="#">Happenings</a></li>
</ul>
</div>
</div>
<div class="footer-widget-col col-md-2 col-sm-6">
<div class="widget widget_nav_menu">
<h3 class="widget-title"><span>Customer Care</span></h3>
<ul class="menu">
<li><a href="#">Support</a></li>
<li><a href="#">FAQ</a></li>
<li><a href="#">Repair Center</a></li>
<li><a href="#">Contact us</a></li>
</ul>
</div>
</div>
<div class="footer-widget-col col-md-2 col-sm-6">
<div class="widget widget_nav_menu">
<h3 class="widget-title"><span>Quick Link</span></h3>
<ul class="menu">
<li><a href="#">Order Status</a></li>
<li><a href="#">Shipping Policy</a></li>
<li><a href="#">Return Policy</a></li>
<li><a href="#">Digital Gift Card</a></li>
</ul>
</div>
</div>
<div class="footer-widget-col col-md-2 col-sm-6">
<div class="widget widget_nav_menu">
<h3 class="widget-title"><span>Help</span></h3>
<ul class="menu">
<li><a href="#">Privacy</a></li>
<li><a href="#">Terms and Conditions</a></li>
<li><a href="#">Social Responsibility</a></li>
</ul>
</div>
</div>
<div class="footer-widget-col col-md-4 col-sm-6">
<div class="widget widget_text">
<h3 class="widget-title"><span>The Store</span></h3>
<div class="textwidget">
<p><i class="fa fa-map-marker"></i> No 68/12, Tower Street,New York, USA</p>
<p><i class="fa fa-phone"></i> (012) 1234 7824</p>
<p><i class="fa fa-envelope"></i> <a href="/cdn-cgi/l/email-protection#91f4fcf0f8fdd1f5fefcf0f8ffbff2fefc"><span class="__cf_email__" data-cfemail="8de8e0ece4e1cde9e2e0ece4e3a3eee2e0">[email&#160;protected]</span><script data-cfhash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("data-cfhash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}t.parentNode.removeChild(t);}}catch(u){}}()/* ]]> */</script></a></p>
<p class="payment"><img src="images/footer-payment-color.png" alt=""></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<footer id="footer" class="footer">
<div class="footer-info">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<div class="footer-info-logo">
<a href="#"><img alt="The DMCS" src="images/footer-logo.png"></a>
</div>
<div class="copyright text-center">Copyright right © 2015 DMCS. All Rights Reserved.</div>
<div class="footer-social">
<a href="#" title="Facebook" target="_blank">
<i class="fa fa-facebook facebook-bg-hover"></i>
</a>
<a href="#" title="Twitter" target="_blank">
<i class="fa fa-twitter twitter-bg-hover"></i>
</a>
<a href="#" title="Google+" target="_blank">
<i class="fa fa-google-plus google-plus-bg-hover"></i>
</a>
<a href="#" title="Pinterest" target="_blank">
<i class="fa fa-pinterest pinterest-bg-hover"></i>
</a>
<a href="#" title="RSS" target="_blank">
<i class="fa fa-rss rss-bg-hover"></i>
</a>
<a href="#" title="Instagram" target="_blank">
<i class="fa fa-instagram instagram-bg-hover"></i>
</a>
</div>
</div>
</div>
</div>
</div>
</footer>
</div>
<div class="modal fade user-login-modal" id="userloginModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<form id="userloginModalForm">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">
<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
</button>
<h4 class="modal-title">Login</h4>
</div>
<div class="modal-body">
<div class="user-login-facebook">
<button class="btn-login-facebook" type="button">
<i class="fa fa-facebook"></i>Sign in with Facebook
</button>
</div>
<div class="user-login-or"><span>or</span></div>
<div class="form-group">
<label>Username</label>
<input type="text" id="username" name="log" required class="form-control" value="" placeholder="Username">
</div>
<div class="form-group">
<label for="password">Password</label>
<input type="password" id="password" required value="" name="pwd" class="form-control" placeholder="Password">
</div>
<div class="checkbox clearfix">
<div class="form-flat-checkbox pull-left">
<input type="checkbox" name="rememberme" id="rememberme" value="forever"><i></i>&nbsp;Remember Me
</div>
<span class="lostpassword-modal-link pull-right">
<a href="#lostpasswordModal" data-rel="lostpasswordModal">Lost your password?</a>
</span>
</div>
</div>
<div class="modal-footer">
<span class="user-login-modal-register pull-left">
<a data-rel="registerModal" href="#">Not a Member yet?</a>
</span>
<button type="submit" class="btn btn-default btn-outline">Sign in</button>
</div>
</form>
</div>
</div>
</div>
<div class="modal fade user-register-modal" id="userregisterModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<form id="userregisterModalForm">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">
<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
</button>
<h4 class="modal-title">Register account</h4>
</div>
<div class="modal-body">
<div class="user-login-facebook">
<button class="btn-login-facebook" type="button">
<i class="fa fa-facebook"></i>Sign in with Facebook
</button>
</div>
<div class="user-login-or"><span>or</span></div>
<div class="form-group">
<label>Username</label>
<input type="text" name="user_login" required class="form-control" value="" placeholder="Username">
</div>
<div class="form-group">
<label for="user_email">Email</label>
<input type="email" id="user_email" name="user_email" required class="form-control" value="" placeholder="Email">
</div>
<div class="form-group">
<label for="user_password">Password</label>
<input type="password" id="user_password" required value="" name="user_password" class="form-control" placeholder="Password">
</div>
<div class="form-group">
<label for="user_password">Retype password</label>
<input type="password" id="cuser_password" required value="" name="cuser_password" class="form-control" placeholder="Retype password">
</div>
</div>
<div class="modal-footer">
<span class="user-login-modal-link pull-left">
<a data-rel="loginModal" href="#loginModal">Already have an account?</a>
</span>
<button type="submit" class="btn btn-default btn-outline">Register</button>
</div>
</form>
</div>
</div>
</div>
<div class="modal fade user-lostpassword-modal" id="userlostpasswordModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<form id="userlostpasswordModalForm">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">
<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
</button>
<h4 class="modal-title">Forgot Password</h4>
</div>
<div class="modal-body">
<div class="form-group">
<label>Username or E-mail:</label>
<input type="text" name="user_login" required class="form-control" value="" placeholder="Username or E-mail">
</div>
</div>
<div class="modal-footer">
<span class="user-login-modal-link pull-left">
<a data-rel="loginModal" href="#loginModal">Already have an account?</a>
</span>
<button type="submit" class="btn btn-default btn-outline">Sign in</button>
</div>
</form>
</div>
</div>
</div>
<div class="sitesao-preview">
<div class="sitesao-preview__wrap">
<a href="#" class="sitesao-preview__control"><i class="fa fa-spin fa-cog"></i></a>
<div class="sitesao-preview__header">
<h4>Demo</h4>
</div>
<div class="sitesao-preview__content">
<div class="sitesao-preview__content__section">
<div class="sitesao-preview__content__section__layout">
<label>Layout Style</label>
<select data-name="layout-style">
<option selected="selected" value="wide">Wide</option>
<option value="boxed">Boxed</option>
</select>
</div>
<div class="sitesao-preview__content__section__bg-pattern">
<label>Pattern examples:</label>
<ul>
<li>
<a href="#" data-pattern="images/background/pattern-1.png" style="background-image:url(images/background/pattern-1.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-2.png" style="background-image:url(images/background/pattern-2.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-3.png" style="background-image:url(images/background/pattern-3.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-4.png" style="background-image:url(images/background/pattern-4.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-5.png" style="background-image:url(images/background/pattern-5.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-6.png" style="background-image:url(images/background/pattern-6.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-7.png" style="background-image:url(images/background/pattern-7.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-8.png" style="background-image:url(images/background/pattern-8.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-9.png" style="background-image:url(images/background/pattern-9.png)"></a>
</li>
<li>
<a href="#" data-pattern="images/background/pattern-10.png" style="background-image:url(images/background/pattern-10.png)"></a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
