<h2>Billing Information</h2>
  <p>
    <%= f.label :shipping_name %><br />
    <%= f.text_field :shipping_name %>
  </p>
  <p>
    <%= f.label :shipping_street_address %><br />
    <%= f.text_field :shipping_street_address %>
  </p>
   <p>
    <%= f.label :shipping_city %><br />
    <%= f.text_field :shipping_city %>
  </p>
   <p>
    <%= f.label :shipping_state %><br />
    <%= f.text_field :shipping_state %>
  </p>
  <p>
    <%= f.label :shipping_zip %><br />
    <%= f.text_field :shipping_zip %>
  </p>
