<%= render "layouts/errors", :object => @order %>
<!--   Big container   -->
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-1">
      <!--      Wizard container        -->
      <div class="wizard-container">
        <div class="card wizard-card ct-wizard-blue" id="checkout-wizard">
          <%= form_for [@campaign, @order], :html => {:class=> 'clearfix'} do |f| %>
            <div class="wizard-header">
              <h3>
                 Checkout<br>
                 <small>Fill out the following information to get complete this order</small>
              </h3>
            </div>
            <ul>
              <li style="max-width:33%;"><a href="#shipping" data-toggle="tab">Shipping</a></li>
              <li style="max-width:33%;"><a href="#review" data-toggle="tab">Review Order</a></li>
              <li style="max-width:33%;"><a href="#payment" data-toggle="tab">Payment</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="shipping">
                <div class="row">
                  <h4 class="info-text"></h4>
                  <div class="col-sm-4">
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Shipping Name <small></small></label>
                      <%= f.text_field :shipping_name, class: "form-control", name: 'shipping_name', type: "text"%>
                    </div>
                    <div class="form-group">
                      <label>Street Address<small></small></label>
                      <%= f.text_field :shipping_street_address, :class => "form-control", :type=>"text" %>
                    </div>
                    <div class="form-group">
                      <label>City<small></small></label>
                      <%= f.text_field :shipping_city, :class => "form-control" %>
                    </div>
                    <div class="form-group">
                      <label>State <small></small></label>
                      <%= f.text_field :shipping_state, :class => "form-control" %>
                    </div>
                    <div class="form-group">
                      <label>Zip Code <small></small></label>
                      <%= f.text_field :shipping_zip, :class => "form-control" %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="review">
                <table class="table shop_table cart">
                  <thead>
                    <tr>
                      <th class="product-thumbnail hidden-xs">&nbsp;</th>
                      <th class="product-name">Product</th>
                      <th class="product-price text-center">Price</th>
                      <th class="product-quantity text-center">Quantity</th>
                      <th class="product-subtotal text-center hidden-xs">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% subtotal = 0 %>
                      <% @cart.each do |product_id, quantity| %>
                      <tr class="cart_item">
                        <td class="product-thumbnail hidden-xs">
                          <a href="#">
                            <%= image_tag attachment_url(Product.find(product_id), :image,:fill, 100, 100)  %>
                          </a>
                        </td>
                        <td class="product-name">
                          <p><%= Product.find(product_id).name %></p>
                        </td>
                        <td class="product-price text-center">
                          <span class="amount"><%= number_to_currency Product.find(product_id).retail_price %></span>
                        </td>
                        <td class="product-quantity text-center">
                          <div class="quantity">
                            <span class="amount"><%= quantity %> </span>
                          </div>
                        </td>
                        <td class="product-subtotal hidden-xs text-center">
                          <span class="amount"><%= number_to_currency Product.find(product_id).retail_price * quantity%></span>
                        </td>
                      </tr>
                      <% subtotal += Product.find(product_id).retail_price * quantity %>
                    <% end %>
                    <tr class="cart_item">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><strong>Subtotal:</strong></td>
                      <td><%= number_to_currency subtotal %></td>
                    </tr>
                    <tr class="cart_item">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><strong>Shipping:</strong></td>
                      <td><span class="amount">&#36;0.00</span></td>
                    </tr>
                    <tr class="cart_item">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><strong>Total:</strong></td>
                      <td><span class="amount"><%= number_to_currency subtotal %></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="payment">
                <table class="table shop_table cart">
                  <thead>
                    <tr>
                      <th class="product-name">Available Funds</th>
                      <th>Order Total</th>
                      <th>Balance Remaining</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= number_to_currency @campaign.fund_amount %></td>
                      <td><%= number_to_currency subtotal %></td>
                      <td><%= number_to_currency (@campaign.fund_amount - subtotal) %></td>
                    </tr>
                  </tbody>
                </table>
                <% if @campaign.fund_amount < subtotal %>
                  <div class="alert alert-danger">
                    <div class="container">
                      You do not have sufficient funds in your campaign for this purchase.<br/>
                      <b><%=link_to 'Back to your campaign', campaign_path(@campaign) %></b>
                    </div>
                  </div>
                <% end %>
                <%= f.hidden_field :order_total, :value => subtotal.to_i %>
              </div>
            </div>
            <div class="wizard-footer">
              <div class="pull-right">
                <input type='button' class='btn btn-next btn-fill btn-warning btn-wd btn-sm' name='next' value='Next' />
                <%= f.submit 'Finish', :class=>'btn btn-finish btn-fill btn-warning btn-wd btn-sm', name: 'finish',disabled: (true if @campaign.fund_amount < subtotal) %>
              </div>
              <div class="pull-left">
                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='Previous' />
              </div>
              <div class="clearfix"></div>
            </div>
          <% end %>
        </div>
      </div> <!-- wizard container -->
      <br>
      <br>
    </div>
  </div>
</div>




<script>
$("form").on("keypress", function (e) {
    if (e.keyCode == 13) {
        return false;
    }
});
</script>
