<%= render "layouts/errors", :object => @campaign %>
<!--   Big container   -->
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <!--      Wizard container        -->
      <div class="wizard-container">
        <div class="card wizard-card ct-wizard-blue" id="wizardProfile">
          <%= form_for @campaign, :html => {:class=> 'clearfix'} do |f| %>
            <%= f.hidden_field :name, :value => current_user.name %>
            <%= f.hidden_field :owner_email, :value => current_user.email %>
            <div class="wizard-header">
              <h3>
                 Start A Campaign <br>
                 <small>This information will let us know more about you and the recipient.</small>
              </h3>
            </div>
            <ul>
              <li><a href="#recipient" data-toggle="tab">Recipient</a></li>
              <li><a href="#campaign" data-toggle="tab">Campaign</a></li>
              <!-- <li><a href="#address" data-toggle="tab">Address</a></li> -->
            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="recipient">
                <div class="row">
                  <h4 class="info-text"> Let's start with the basics</h4>
                  <div class="col-sm-4 col-sm-offset-1">
                    <div class="picture-container">
                      <div class="picture">
                        <%= image_tag 'kickstars/your_face_here.jpg', class: "picture-src", id: "wizardPicturePreview", title: "" %>
                        <%= f.attachment_field :image, id: "wizard-picture" %>
                      </div>
                      <h6>Choose Picture</h6>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Recipient Name <small></small></label>
                      <%= f.text_field :patient_name, class: "form-control", name: 'patient_name', type: "text", :placeholder=>"Enter Recipient's Full Name" %>
                    </div>
                    <div class="form-group">
                      <label>Recipient's Email <small></small></label>
                      <%= f.text_field :patient_email, :class => "form-control", :placeholder => "Enter Recipient's Email Address", :type=>"email" %>
                    </div>
                    <div class="form-group">
                      <label>Recipient's Phone Number <small></small></label>
                      <%= f.text_field :patient_phone, :class => "form-control", :placeholder => "Enter Recipient's Phone Number" %>
                    </div>
                    <div class="form-group">
                      <label>Relationship to Recipient <small></small></label>
                      <%= f.text_field :relationship, :class => "form-control", :placeholder => "What is your relationship to the recipient?" %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="campaign">
                <h4 class="info-text"></h4>
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-8">
                    <div class="form-group">
                      <label>Campaign Fund Goal <small>(required)</small></label>
                      <%= f.text_field :fund_goal, :class => "form-control" %>
                    </div>
                    <div class="form-group">
                      <label>Description <small>(required)</small></label>
                      <%= f.text_area :campaign_description, :class=> "form-control", :placeholder => "Please write a general description of why these services are needed for the recipient" %>
                    </div>
                    <!-- <div class="form-group">
                      <label>Provide Description <small>(required)</small></label>
                      <%# f.text_area :provide_description, :class=> "form-control", :placeholder => "How will this help?" %>
                    </div> -->
                  </div>
                  <div class="col-sm-2"></div>
                </div>
              </div>
            </div>
            <div class="wizard-footer">
              <div class="pull-right">
                <input type='button' class='btn btn-next btn-fill btn-warning btn-wd btn-sm' name='next' value='Next' />
                <%= f.submit 'Finish', :class=>'btn btn-finish btn-fill btn-warning btn-wd btn-sm', name: 'finish' %>
              </div>
              <div class="pull-left">
                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='Previous' />
              </div>
              <div class="clearfix"></div>
            </div>
          <% end %>
        </div>
      </div> <!-- wizard container -->
      <br>
      <br>
    </div>
  </div>
</div>

<script>
$("form").on("keypress", function (e) {
    if (e.keyCode == 13) {
        return false;
    }
});
</script>


