<%= render "layouts/errors", :object => @campaign %>
<!--   Big container   -->
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <!--      Wizard container        -->
      <div class="wizard-container">
        <div class="card wizard-card ct-wizard-blue" id="wizardProfile">
          <%= form_for @campaign, :html => {:class=> 'clearfix'} do |f| %>
            <%= f.hidden_field :name, :value => current_user.name %>
            <%= f.hidden_field :owner_name, value: current_user.name %>
            <%= f.hidden_field :owner_email, :value => current_user.email %>
            <div class="wizard-header">
              <h3>
                 Start an Account <br>
                 <small>This information will let us know more about you and the recipient.</small>
              </h3>
            </div>
            <ul>
              <li class="hidden"><a href="#recipient" data-toggle="tab">Recipient</a></li>
              <li class="hidden"><a href="#campaign" data-toggle="tab">Campaign</a></li>
              <!-- <li><a href="#address" data-toggle="tab">Address</a></li> -->
            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="recipient">
                <div class="row">
                  <h4 class="info-text"> Let's start with the basics</h4>
                  <div class="col-sm-4 col-sm-offset-1">
                    <div class="picture-container">
                      <!-- <div class="picture">
                        <%# image_tag 'kickstars/your_face_here.jpg', class: "picture-src", id: "wizardPicturePreview", title: "" %>
                        <%# f.attachment_field :image, id: "wizard-picture" %>
                      </div>
                      <h6>Choose Picture</h6> -->
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Recipient Name <small></small></label>
                      <%= f.text_field :patient_name, class: "form-control", type: "text", :placeholder=>"Enter Recipient's Full Name", value: @patient_name %>
                    </div>
                    <div class="form-group">
                      <label>Recipient's Email <small></small></label>
                      <%= f.text_field :patient_email, :class => "form-control", :placeholder => "Enter Recipient's Email Address", :type=>"email", value: @patient_email %>
                    </div>
                    <div class="form-group">
                      <label>Recipient's Phone Number <small></small></label>
                      <%= f.text_field :patient_phone, :class => "form-control", :placeholder => "Enter Recipient's Phone Number" %>
                    </div>
                    <div class="form-group">
                      <label>Relationship to Recipient <small></small></label>
                      <%= f.text_field :relationship, :class => "form-control", :placeholder => "What is your relationship to the recipient?", value: @patient_relationship %>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-2">
                          <%= f.check_box :donation_alerts, :class => "form-control" %>
                        </div>
                        <div class="col-md-10">
                          <label>Would you like to receive an email with each account deposit?</label>
                        </div>
                      </div>
                    </div>
                    <% if current_user.is_patient? %>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-2">
                            <%= f.check_box :private, :class => "form-control" %>
                          </div>
                          <div class="col-md-10">
                            I would like to create a private store where I can make the deposits myself.
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="campaign">
                <h4 class="info-text"></h4>
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-8">
                    <div class="form-group">
                      <label>Account Fund Goal <small>(required)</small></label>
                      <%= f.text_field :fund_goal, :class => "form-control" %>
                    </div>
                    <div class="form-group">
                      <label>Description <small>(required)</small><%= image_tag 'help.png', size:'20', style: 'margin-left:10px;', id: 'help_tag_description', data:{backdrop: 'static'} %></label>
                      <%= f.text_area :campaign_description, :class=> "form-control", style: 'height: 215px;', :placeholder => "" %>
                    </div>

                    <!-- <div class="form-group">
                      <label>Provide Description <small>(required)</small></label>
                      <%# f.text_area :provide_description, :class=> "form-control", :placeholder => "How will this help?" %>
                    </div> -->
                  </div>
                  <div class="col-sm-2"></div>
                </div>
              </div>
            </div>
            <div class="wizard-footer">
              <div class="pull-right">
                <input type='button' class='btn btn-next btn-fill btn-warning btn-wd btn-sm' name='next' value='Next' />
                <%= f.submit 'Finish', :class=>'btn btn-finish btn-fill btn-warning btn-wd btn-sm', name: 'finish' %>
              </div>
              <div class="pull-left">
                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='Previous' />
              </div>
              <div class="clearfix"></div>
            </div>
          <% end %>
        </div>
      </div> <!-- wizard container -->
      <br>
      <br>
    </div>
  </div>
</div>



<script>
$("form").on("keypress", function (e) {
    if (e.keyCode == 13) {
        return false;
    }
});
$('#help_tag_description').click(function(){
  $('#myModal').appendTo("body").modal('show');
});
</script>


