<h1> Recipient Information </h1>

ID: <%= @user.id %> <br />
Name: <%= @user.name %> <br />
Preferred Name: <%= @user.preferred_name %> <br />
Email: <%= @user.email %> <br />
Date of Birth: <%= @user.dob %> <br />
Managed Account?: <%= @user.managed_account? %> <br />
Managed Account Name: <%= @user.managed_name %> <br />
Managed Account Email: <%= @user.managed_account_email %> <br />
Zip Code: <%= @user.zip_code %> <br />
Gender: <%= @user.gender %> <br />
Symptoms: <%= @user.symptoms %> <br />
Diagnosis: <%= @user.diagnosis %> <br />
Treatment Plan: <%= @user.treatment_plan %> <br />
Treatment Schedule: <%= @user.treatment_schedule %> <br />
Items Needed by Date: <%= @user.item_needed_by %> <br />
Normal Size: <%= @user.normal_size %> <br />
Plus Size: <%= @user.plus_size? %> <br />
Petite Size: <%= @user.petite_size? %> <br /><br /><br />
Other Notes: <%= @user.other_notes %> <br />



