<h1> Recipient Information </h1>

ID: <%= @user.id %> <br />
Name: <%= @user.name %> <br />
Preferred Name: <%= @user.preferred_name %> <br />
Email: <%= @user.email %> <br />
Date of Birth: <%= @user.try(:dob) %> <br />
Managed Account?: <%= @user.managed_account? %> <br />
Managed Account Name: <%= @user.try(:managed_name) %> <br />
Managed Account Email: <%= @user.try(:managed_account_email) %> <br />
Zip Code: <%= @user.try(:zip_code) %> <br />
Gender: <%= @user.try(:gender) %> <br />
Symptoms: <%= @user.try(:symptoms) %> <br />
Diagnosis: <%= @user.try(:diagnosis) %> <br />
Treatment Plan: <%= @user.try(:treatment_plan) %> <br />
Treatment Schedule: <%= @user.try(:treatment_schedule) %> <br />
Items Needed by Date: <%= @user.try(:item_needed_by) %> <br />
Normal Size: <%= @user.try(:normal_size) %> <br />
Other Notes: <%= @user.try(:other_notes) %> <br />



