<!DOCTYPE html>
<html>
<head>
  <title>w/you</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />

  <%= stylesheet_link_tag    "kickstars/all", media: "all" %>
  <%= javascript_include_tag "kickstars/all", media: "all" %>
  <%= csrf_meta_tags %>

  <meta property="fb:app_id"        content="939650986154464" />
  <meta property="og:url"           content="http://www.wyou.co" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Come Join My Campaing on w/you!" />
  <meta property="og:description"   content="Come Join My Campaign on w/you!" />
  <!-- <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" /> -->

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76873106-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
  <!-- facebook share -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&version=v2.5&appId=939650986154464";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!-- end facebook share -->
<div id="wrapper">
<header id="header">
<%= render 'layouts/navigation' %>
</header>
<%= render 'layouts/messages' %>
<%= yield %>
<%= render 'layouts/footer' %>
</div>

<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Please write a general description of why these services are needed for the recipient.</h4>
                            <h6>For example:</h6>
                          </div>
                          <div class="modal-body">
                              Close family and friends, Catherine starts her chemo treatments next Friday and eventually will have a double mastectomy (her surgery date is TBD). I’d like her to be comfortable throughout her treatment and have what she needs to accommodate the rather dramatic physical changes she will undergo.  Also, because chemo and surgery will give rise to different needs for her, I have set an initial goal to collectively provide Catherine with at least $650 for her to use to meet those needs, but anything you can provide will be greatly appreciated.
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                          </div>
                        </div>
                      </div>
                    </div>
</body>
</html>
