<!DOCTYPE html>
<html>
<head>
  <title>w/you</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
  <%= stylesheet_link_tag    "kickstars/all", media: "all" %>
  <%= javascript_include_tag "kickstars/all", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
<header id="header">
<%= render 'layouts/navigation' %>
</header>
<%= render 'layouts/messages' %>
<%= yield %>
<%= render 'layouts/footer' %>
</div>
</body>
</html>
