<!DOCTYPE html>
<html>
<head>
  <title>w/you</title>
  <description>Come Join My Campaign on w/you!</description>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />

  <%= stylesheet_link_tag    "kickstars/all", media: "all" %>
  <%= javascript_include_tag "kickstars/all", media: "all" %>
  <%= csrf_meta_tags %>

  <meta property="og:url"           content="http://www.wyou.co" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="w/you" />
  <meta property="og:description"   content="Come Join My Campaign on w/you!" />
  <!-- <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" /> -->
</head>
<body>
  <!-- facebook share -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&version=v2.5&appId=939650986154464";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!-- end facebook share -->
<div id="wrapper">
<header id="header">
<%= render 'layouts/navigation' %>
</header>
<%= render 'layouts/messages' %>
<%= yield %>
<%= render 'layouts/footer' %>
</div>
</body>
</html>
