
<div class="panel-body">
  <%= render "layouts/errors", :object => @product %>

  <%= form_for @product, :html => {:class=> 'form-horizontal'} do |f| %>
    <fieldset>
      <div class="form-group">
        <%= f.label :name, 'Product Name', :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :name, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :description, 'Product Description (short)', :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_area :description, :class => "form-control", :id => 'description' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :long_description, 'Product Description (long)', :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_area :long_description, :class => "form-control", :id => 'long_description' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :retail_price, 'Retail Price', :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.number_field :retail_price, :class => "form-control", :step => 'any' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :sizes, 'Sizes', :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.select :sizes, [ ["XXS", "xxs"], ["XS", "xs"], ["S", "s"], ["M", "m"], ["L", "large"], ["XL", "xl"], ["XXL", "xxl"], ["XXXL", "xxxl"], ["00P", "00P"], ["0P", "0P"], ["2P", "2P"], ["4P", "4P"], ["6P", "6P"], ["8P", "8P"], ["10P", "10P"], ["12P", "12P"], ["14P", "14P"], ["16P", "16P"], ["XXSP", "XXSP"], ["XSP", "XSP"], ["SP", "SP"], ["MP", "MP"], ["LP", "LP"], ["XLP", "XLP"], ["22", "22"], ["23","23"], [" 24", "24"], ["25", "25"], ["26", "26"], ["27","27"], ["28", "28"], ["29", "29"], ["30", "30"], ["31", "31"], ["32", "32"], ["33", "33"], ["34", "34"], ["35", "35"], ["36", "36"], ["37", "37"], ["38", "38"], ["39", "39"], ["40", "40"], ["41", "41"], ["42", "42"], ["43", "43"], ["44", "44"], ["45", "45"], ["46", "46"], ["47", "47"], ["48", "48"], ["000", "000"], ["00", "00"], ["0", "0"], ["2", "2"], ["4", "4"], ["6", "6"], ["8", "8"], ["10", "10"], ["12", "12"], ["14", "14"], ["16", "16"], ["18", "18"], ["20", "20"], ["23", "23"], ["23.5", "23.5"], ["24", "24"], ["24.5", "24.5"], ["25", "25"], ["25.5", "25.5"], ["26", "26"], ["26.5", "26.5"], ["27", "27"], ["27.5", "27.5"], ["28", "28"], ["28.5", "28.5"], ["29", "29"], ["29.5", "29.5"], ["30", "30"], ["30.5", "30.5"], ["31", "31"], ["31.5", "31.5"], ["32", "32"], ["32.5", "32.5"], ["33", "33"], ["33.5", "33.5"], ["34", "34"], ["34.5", "34.5"], ["35", "35"], ["35.5", "35.5"], ["36", "36"], ["4", "4"], ["4.5", "4.5"], ["5", "5"], ["5.5", "5.5"], ["6", "6"], ["6.5", "6.5"], ["7", "7"], ["7.5", "7.5"], ["8", "8"], ["8.5", "8.5"], ["9", "9"], ["9.5", "9.5"], ["10", "10"], ["10.5", "10.5"], ["11", "11"], ["11.5", "11.5"], ["12", "12"], ["Narrow", "Narrow"], ["Medium", "Medium"], ["Wide", "Wide"], ["Extra Wide", "ExtraWide"], ["32A", "32A"], ["32B", "32B"], ["32C", "32C"], ["32D", "32D"], ["32DD", "32DD"], ["34A", "34A"], ["34B", "34B"], ["34C", "34C"], ["34D", "34D"], ["34DD", "34DD"], ["36A", "36A"], ["36B", "36B"], ["36C", "36C"], ["36D", "36D"], ["36DD", "36DD"], ["38A", "38A"], ["38DD", "38DD"], ["42D", "42D"], ["44D", "44D"], ["46C", "46C"], ["46D", "46D"], ["46DD", "46DD"], ["48C", "48C"], ["48D", "48D"], ["48DD", "48DD"], ["48DDD", "48DDD"], ["14", "14"], ["16", "16"], ["K8", "K8"], ["K9", "K9"], ["K10", "K10"], ["K11", "K11"], ["K12", "K12"], ["K13", "K13"], ["K1", "K1"], ["K2", "K2"], ["K3", "K3"], ["K4", "K4"], ["K5", "K5"], ["K6", "K6"], ["K7", "K7"], ["1", "1"], ["12.5", "12.5"], ["13", "13"], ["14", "14"], ["15", "15"], ["16", "16"], ["17", "17"], ["5E", "5E"], ["B", "B"], ["D", "D"], ["EEE", "EEE"], ["Narrow", "Narrow"], ["Medium", "Medium"], ["Wide", "Wide"], ["Extra Wide", "ExtraWide"], ["14.5", "14.5"], ["15", "15"], ["15.5", "15.5"], ["16", "16"], ["16.5", "16.5"], ["17", "17"], ["17.5", "17.5"], ["s/m", "s/m"], ["m/l", "m/l"], ["l/xl", "l/xl"], ["xl/xxl", "xl/xxl"], ["1X", "1X"], ["2X", "2X"], ["2XL", "2XL"], ["3X", "3X"], ["3XL", "3XL"], ["4XL", "4XL"] ], {}, {multiple: true, class: "input-lg", id: 'sizeDropdown'} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :image, 'Product Image', :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.attachment_field :image, :class =>"form-control" %>

        </div>
        <% if @product.image_id? %>
          <div class="col-lg-10">
            <%= image_tag attachment_url(@product, :image, :fill, 100, 100) %>
            <%= f.check_box :remove_image %>
            <%= f.label :remove_image %>
          </div>
        <% end %>
      </div>

      <%= f.submit 'submit', :class=>'btn btn-primary form-control' %>
    </fieldset>
  <% end %>
</div>

<script>
      $(function() {
          // $('#description').froalaEditor({
          //   toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', '|', 'color', 'emoticons', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', '-', 'insertLink', 'insertTable', '|', 'quote', 'insertHR', 'undo', 'redo', 'clearFormatting', 'selectAll']
          // });
          $('#long_description').froalaEditor({
            toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', '|', 'color', 'emoticons', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', '-', 'insertLink', 'insertTable', '|', 'quote', 'insertHR', 'undo', 'redo', 'clearFormatting', 'selectAll']
          });
      });

      $( "#sizeDropdown" ).select2({
          placeholder: "Select a size",
          multiple: true,
          tags: true
      });
  </script>
