<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "w/you" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "w/you" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>

    <script type="text/javascript">
    (function(e, t) {
        function r(e, t) {
            e[t] = function() {
                e.push([ t ].concat(Array.prototype.slice.call(arguments, 0)));
            };
        }
        var n = "JacoRecorder";
        (function(e, t, i, s) {
            if (!i.__VERSION) {
                e[n] = i;
                var o = [ "init", "identify", "startRecording", "stopRecording", "removeUserTracking", "setUserInfo" ];
                for (var u = 0; u < o.length; u++) r(i, o[u]);
                i.__VERSION = .9, i.__INIT_TIME = 1 * new Date;
                var a = t.createElement("script");
                a.async = !0, a.setAttribute("crossorigin", "anonymous"), a.src = s;
                var f = t.getElementsByTagName("head")[0];
                f.appendChild(a);
            }
        })(e, t, e[n] || [], "//recorder-assets.getjaco.com/recorder.js");
    }).call(window, window, document), window.JacoRecorder.push([ "init", "479a3cbd-7f8d-49d0-9f59-1ade708003f1", {} ]);
    </script>
  </head>
  <body class="<%= 'landing-page landing-page1' if @landing %>"  style=<%= 'margin-top:0px;' if @landing %>>

    <header>
      <%= render 'layouts/messages' %>
      <%# render 'layouts/navigation' %>
    </header>
    <!-- <main > -->

       <%= yield %>
    <!-- </main> -->

    <!-- ClickDesk Live Chat Service for websites -->
    <script type='text/javascript'>
      var _glc =_glc || []; _glc.push('all_ag9zfmNsaWNrZGVza2NoYXRyDwsSBXVzZXJzGNjfmdUODA');
      var glcpath = (('https:' == document.location.protocol) ? 'https://my.clickdesk.com/clickdesk-ui/browser/' :
      'http://my.clickdesk.com/clickdesk-ui/browser/');
      var glcp = (('https:' == document.location.protocol) ? 'https://' : 'http://');
      var glcspt = document.createElement('script'); glcspt.type = 'text/javascript';
      glcspt.async = true; glcspt.src = glcpath + 'livechat-new.js';
      var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(glcspt, s);
    </script>
    <!-- End of ClickDesk -->
  </body>
</html>
